h3 { text-align: center;}
.btn_add { float: right;}
.chart_div {
    border: 1px solid #dfdfdf;
    height: 251px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
  color: #234261;
  font-family: sans-serif;
  font-size: 37px;
  font-style: italic;
}

/* :host ::ng-deep svg {
  float: none;
  width: 100%;
  height: auto;
} */

ngx-charts-pie-chart {
  display: block;
  height: 500px;
}
